{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "SLACK_BOT_TOKEN": "",
    "SLACK_SIGNING_SECRET": "",
    "AGENT_TOKEN": "",
    "AZURE_SUBSCRIPTION_ID": "",
    "VM_RESOURCE_GROUP": "rg-dystoppia-prod",
    "VM_NAME": "vm-dystoppia-dev",
    "VM_AGENT_URL": "http://<VM_PRIVATE_IP>:3333"
  }
}
