# Entra ID (Azure AD)
VITE_AZURE_TENANT_ID=5422cc0c-41be-4663-9c8f-2fcc3e5741db
VITE_AZURE_CLIENT_ID=REPLACE_ME

# Target VM
VITE_AZURE_SUBSCRIPTION_ID=39b8497a-8d94-42aa-b43a-ae9ac3ae9932
VITE_VM_RESOURCE_GROUP=rg-dystoppia-prod
VITE_VM_NAME=vm-dystoppia-dev

